@model IEnumerable<ElsaWorkflowDesigner.ViewModel.ApprovalHistory>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Approval History</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Workflowid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkflowActivity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Workflowid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workflowid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workflowid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workflowid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workflowid)
            </td>
        </tr>
    }

</table>